{% extends "base.html" %}

{% block content %}
<div align="center"></div>
<div style="margin-left: 30px; ">
    <h1 style="color:#181618; text-shadow:1px 0 0 black;"><b>Этот сайт для тех, кто хочет научиться </b></h1>
    <h2 style="color:#181618; text-shadow:1px 0 0 black;"><b>хорошо играть в шахматы с нуля.</b></h2>
    <div id="description">
        <p style="color:#181618; line-height: 1.67; font-size: 27px;"><b>Здесь вы можете сыграть против
            ботов (искусcтвенного интеллекта) разных уровней
            сложности, а также просмотреть полную статистику
            вашего аккаунта и проанализировать все свои
                        ранее сыгранные партии. <br>
            Для тех, кто не знаком с
            этой игрой, но очень хочет научиться играть на высоком
            уровне советуем перейти по ссылке на нашего
            <a href="#" class="change-color-link" title="">Телеграм бота.</a>
            Это будет полезно и опытным игрокам, так как
            каждый день там появляются интересные задачи,
            направленные на развитие ваших шахматных способностей.</b></p>
    </div>
    <div class="hover-text-one" style="margin-left: 750px;">
  <figure class="effect-text-four">
    <img src="/static/img/chess_screensaver.jpg" alt="" width="1000" height=700" align="right"/>
      <figcaption>
	<h3><b>В шахматах выигрывает каждый</b></h3>
	<b><p>Если ты получаешь удовольствие от игры, а это самое главное, то даже поражение не страшно</p></b>
      </figcaption>
   </figure>
</div>
</div>

{% endblock %}